@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0 auto !important;
  box-sizing: border-box;
  max-width: 1366px;
}

header {
  background-color: #fff;
  margin: 0 2.5rem;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  margin: 0 5rem;
}

nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
}

nav ul li {
  margin: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.hero_text {
  margin-left: 2rem;
}

.hero_text h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

.hero_text h1 {
  font-size: 5.2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 100;
  font-style: normal;
  font-family: "Zilla Slab", serif;
}

.hero_text p {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
}

.hero_image {
  margin-right: 5rem;
}

.btn-terr {
  border-radius: 25px;
  background-color: #86a136;
  padding: 17px 20px;
  border: none;
  cursor: pointer;
}

.btn-terr:hover {
  background-color: #bce249;
}

.btn-terr a {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  color: white;
  font-family: "Noto Serif JP", serif;
  text-align: center;
}

.jardim {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #457251;
  padding: 2rem;
  padding-bottom: 5rem;
  height: 35vh;
}

.jardim_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding: 5rem;
  padding-bottom: 5rem;
  max-width: 45%;
}

.jardim_container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  padding-top: 5rem;
}

.jardim_container h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
}

.jardim_container p {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
}

.mini_jardim_img {
  position: relative;
  top: 100px;
  width: auto;
  height: 150%;
  margin-right: 4rem;
}

.mini_jardin_img {
  max-width: 60%;
  height: 500px;
}

.passos_sec {
  margin: 1rem;
}

.passos_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-justify: center;
}

.passos_container h2 {
  font-size: 1.8rem;
  font-family: "Zilla Slab", serif;
  font-weight: 100;
  padding-bottom: 0.3rem;
}

.passos_container p {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  line-height: 1.2;
}

.passos_each {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3.5rem 1rem 2rem;
  max-width: 20%;
  line-height: 1.1;
}

.passos_each img {
  margin-bottom: 1rem;
}

.passos_each h2 {
  margin-bottom: 0.3rem;
}

.btn_class {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.ter_container {
  background-color: #457251;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-height: 40vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 500;
}

.ter_main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  top: 100px;
}

.ter_main h2 {
  margin: 1rem 3rem;
  line-height: 1.1;
  text-align: left;
}

.ter_main p {
  margin: 0 3rem;
}

.ter_main2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  top: 240px;
}

.ter_main2 h2 {
  margin: 1rem 3rem;
  text-align: left;
}


.ter_main2 p {
  margin: 0 3rem;
}
.ter_main3 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  top: 110px;
}

.ter_main3 h2 {
  margin: 1rem 3rem;
  text-align: left;
}

.ter_main3 p {
  margin: 0.5rem 3rem;
}

.ter_main img, .ter_main3 img {
  width: 80%;
  height: 400px;
  padding: 0;
}

.ter_main2 img {
  width: 80%;
  height: 450px;
  padding: 0;
}

.name {
  align-self: self-end;
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25rem;
}

/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
